.home-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh; /* Full viewport height */
  width: 100vw; /* Full viewport width */
  margin: 0;
}

.map-container {
  margin-left: 25%;
  width: 80vmin; /* Adjust size as needed */
  height: 80vmin; /* Square aspect ratio */
  display: flex;
  align-items: center;
  justify-content: center;
  border: 5px solid rgb(70, 67, 67); /* Dark gray border */
  box-sizing: border-box; /* Include border in element's total width and height */
  background-color: white; /* Optional: Background color */
}
