/* .container-status {
    display: flex;
    justify-content: space-around;
    transition: all 0.5s ease;
} */

.container-status {
    display: flex;
    justify-content: space-around;
    transition: all 0.5s ease;

}






.container-expanded {
    width: calc(90% - 300px);
    margin-left: 300px;
    align-self: center;
}

.container-minimized {
    width: calc(100% - 60px);
    margin-left: 60px;
    align-self: center;
}

@media(max-width: 480px){
    .container-status {
        display: flex;
        flex-wrap: wrap; /* Permite que os itens quebrem para a próxima linha */
        justify-content: space-around; /* Ajusta o espaçamento */
    }
    .container-status > * {
        flex-basis: calc(50% - 10px); /* 3 itens por linha, ajustando o espaço */
        margin: 5px; /* Espaçamento entre os itens */
    }
    
}


@media(max-width: 1010px){
    .container-status {
        display: flex;
        flex-wrap: wrap; /* Permite que os itens quebrem para a próxima linha */
        justify-content: space-around; /* Ajusta o espaçamento */
    }
    .container-status > * {
        flex-basis: calc(33.33% - 10px); /* 3 itens por linha, ajustando o espaço */
        margin: 5px; /* Espaçamento entre os itens */
    }
    
}

