.container-icon {
    margin: 10px auto;
    text-align: center;
    cursor: pointer;
}

.text-icon {
    margin: 5px 0;
    font-size: 14px;
    color: #03624C;
    font-weight: bold;
}

.icon-container {
    background-color: #03624C;
    width: 180px;
    height: 140px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    border-radius: 20px;
    color: white;
    font-weight: bold;
    transition: height 0.5s ease, width 0.5s ease;
}

.icon-container.expanded {
    height: 180px;
}

.icon-small {
    font-size: 20px;
    transition: height 1s ease, width 1s ease;
}

.icon-large {
    font-size: 50px;
    transition: height 1s ease, width 1s ease;
}

.number-style {
    margin: 5px 0;
    font-size: 25px;
    color: #FFFFFF;
}

.min-max-style {
    font-size: 14px;
    color: #FFFFFF;
    margin-top: 5px;
    transition: height 1s ease, width 1s ease;
}

.extra-style {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 5px;
}

.min-max-icon {
    font-size: 20px;
}

.min-max-text {
    margin: 0;
    padding-left: 10px;
}

.component-dados-container {
    display: flex;
    justify-content: space-around;
    width: 80%;
    color: #fff;
}

@media(max-width: 480px){
    .container-icon {
        margin: 10px;
        width: 100%; /* Garantir que o container ocupe toda a largura */
    }

    .icon-container {
        width: 125px; /* Reduzir a largura do ícone */
        height: 100px; /* Ajustar a altura para manter a proporção */
        border-radius: 5px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center; /* Centralizar o conteúdo */
    }

    .text-icon {
        font-size: 10px; /* Ajuste para um tamanho razoável em telas pequenas */
        color: #03624C;
        font-weight: bold;
    }

    .icon-small {
        font-size: 18px; /* Ajuste para um ícone menor */
    }
    
    .icon-large {
        font-size: 30px; /* Ajuste para um tamanho adequado em telas pequenas */
    }

    .number-style {
        font-size: 18px; /* Ajuste para que o número também fique adequado */
    }

    .min-max-style {
        font-size: 8px; /* Ajustar o texto para o tamanho adequado */
    }

    .min-max-icon {
        font-size: 10px; /* Tamanho do ícone de minimização/maximização */
    }

    .extra-style {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        margin: 5px;
    }

    .min-max-text {
        margin: 0;
        padding-left: 10px;
    }

    .component-dados-container {
        width: 100%; /* Ajustar para 100% da largura */
        color: #fff;
    }

    .icon-container.expanded {
        height: 140px;
    }
}
